body{
    text-align: center;
    margin: 0;
}

header{
    width: 100%;
    height: 100px;
    background-color: darkorange;
}

header img{
    width: 2.5%;
    float: right;
    margin: 2.5% 3% 0 0;
}

p{
    font-size: 18px;
}

a{
    font-size: 32px;
    margin: 32px;
    position: relative;
    top:25%;
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: blue
}

section{
    width: 100%;
    height: 395px;
    background-color: #36dbff;
}

section h1{
    margin: 0;
}

img{
    float: left;
    width: 17%;
}

.categorias{
    width: 90%;
    height: 200px;
    border-radius: 10px;
    margin: auto;
    background-color: orange;
}

.box{
    display: flex;
    justify-content: space-around;
}

.box img{
    position: relative;
    left: 10px;
    width: 100px;
}

.box img:hover{
    width: 120px;
}


.marcas{
    width: 50%;
    margin: 0 auto;
}

.marcas img{
    border: 1px solid black;
}

.dicadodia h3,.dicadodia p{
    position: relative;
    top: 400px;
    right: 600px;
}

.dicadodia img{
    position: relative;
    top: 350px;
    left: 10%;
}

footer{
    background-color: #C1C1C1;
    margin-top:700px;
    height: 400px;
}